{
  "presets": [
    "env"
  ],
  "plugins": [
    "add-module-exports"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}