//$brand: #2a8e86;
$primary: #2a8e86;
$variable-columns: false;
$link: $primary;

//$tabs-border-bottom-style: none;
//$tabs-link-color: $primary;
$tabs-border-bottom-color: transparent;
$tabs-border-bottom-width: 2px;