@import 'variables';
// TODO Only import required modules
@import "~bulma/sass/utilities/all";
@import "~bulma/sass/base/all";
@import "~bulma/sass/components/navbar";


.navbar-brand .navbar-item{
  min-width: 9rem;
}

.header {
  
}

footer {
  background: $primary;
  color: #fff;
  padding: .75rem;
  text-align: center;
  a {
    color: #fff;
  }
}

.main {
  padding: 1rem;
}

.logo{
  height: 150px;
  width: 150px;
}

section.header{
  background-size: cover;
}