@import 'variables';

//@import '~bulma';
@import "~bulma/sass/utilities/all";
@import "~bulma/sass/base/all";
@import "~bulma/sass/components/navbar";
@import "~bulma/sass/components/tabs";
@import "~bulma/sass/components/card";
@import "~bulma/sass/grid/columns";

//@import 'mixins';

@import 'carousel';

.navbar-brand .navbar-item {
  min-width: 9rem;
}

body.offline .navbar.is-primary {
  background-color: #777;
}

footer {
  background: $primary;
  color: #fff;
  text-align: center;
  a {
    color: #fff;
  }
  padding: 2rem;
}

.main {
  //padding: 0 1rem;
}

.logo {
  max-height: 100px;
  max-width: 100px;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  width: 100%;
}

strong {
  color: inherit;
}

.tabs li.is-active a {
  font-weight: bold;
}

.mt3 {
  margin-top: 3rem;
}

.mv2 {
  margin: 2rem 0;
}


.pt2 {
  padding-top: 2rem;
}

.p1{
  padding: 1rem;
}

h1 {
  font-size: 2.7rem;
}

h2 {
  font-size: 1.7rem;
  font-weight: bold;
  margin: 1rem 0;
}

.bg-primary {
  background: $primary;
  color: #fff;
  a{
    color: #fff;
  }
}

.bg-grey {
  background: #f3f3f3;
}

.description p {
  padding: .5rem 0;
  text-align: justify;
}

i.gap:before {
  content: ' ';
  padding: 0 .2rem;
}

.csv:after {
  content: ', ';
}

.csv:last-child:after {
  content: '';
}

.container {
  padding: 0 1rem;
}

.tabs.is-toggle {
  margin: 0;
  ul {
    margin-bottom: -1rem;
    li {
      background: $primary;
      a {
        color: #fff;
      }
    }
    li.is-active {
      line-height: 3rem;
      margin-bottom: 1rem;
    }
  }
  a:hover {
    background-color: $tabs-toggle-link-active-background-color;
  }
}